@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 1400px;
    background-color: rgb(234, 234, 234);
}        
#cabecalho {
    width: 100%;
    height: 236px;
    background-color: #e60014;
}
#topo {
    width: 100%;
    height: 53px;
    background-color: white;
}
#meio {
    background-color: #e60014;  
    margin: 0 auto;
    z-index:10;
    width:100%;
    height: 130px;
    position: sticky;
}
#divlogo {
    text-align: left;
    font-size: 30px; 
    padding-left: 30px;
    margin: 10px;
    width: 300px;
    height: 130px;
}
#titulologo {
    text-align: left;
    color: white;
    font-family: Arial,sans-serif;
    font-size: 30px; 
    margin: 10px;
    width: 300px;
    height: 130px;
    padding-top: 18px;
    cursor: pointer;
}
#formulario {
    margin-top: -130px;
    width: 600px;
    margin-left: 301px;
}
#id-form-busca {
    width: 616px;
    height: 73px;
}
#input-procurar{  
    width: 604px;
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: Arial,sans-serif;
    font-size: 20px;
    top: 80px;
    margin-top: -3px;
}
#botao-procurar {
    background-image: url( "imagens/lupa.png" );
    background-size: 35px 30px;
    width: 40px;
    height: 30px;
    position:absolute;
    right:455px;
    top: 18px;
    border: none;
    cursor: pointer;
}
#divbusca { 
    width: 600px;
    height: 40px;
    padding-left: 300px;
    text-align: center;
}
#ola {
    width: 142px;
    position:absolute;
    right: 275px;
    top: 5px;
    font-size: 12px;
    font-family: Arial,sans-serif;
    color: white;
    cursor: pointer;
}
#botao-coracao {
    background-image: url(imagens/coracao.png);
    background-size: 40px 36px;
    width: 37px;
    height: 35px;
    position: absolute;
    right: 169px;
    top: 20px;
    border: none;
    cursor: pointer;
}
#botao-cesta {
    background-image: url(imagens/cesta.png);
    background-size: 51px 45px;
    width: 53px;
    height: 44px;
    position: absolute;
    right: 93px;
    top: 15px;
    border: none;
    cursor: pointer;
}
#ul-lista {
    padding-left: 183px;
}

/*TESTE DO BOTÃO TRANSITION*/



.lista {
    display: inline;
    font-family: Arial,sans-serif;
    font-size: 15px;
    color: white;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: text;
    padding: 15px 15px 15px 15px;
}
#fim {
    width: 100%;
    height: 53px;
    background-color: white;
}
#nav-menubar {
    width: 245px;
    height: 23px;
    padding: 15px 15px 15px 15px;
    border-right: 15px;
}
#h3-menubar {
    margin-top: -32px;
    width: 260px;
    padding: 20px 15px 15px 70px;
    border-right: 15px;
    color: #e60014;
    cursor: pointer;
}
#tres-barras-img {
    position: absolute;
    top: 207px;
    right: 1286px;
    cursor: pointer;
}
#ul-lista-side-nav {
    width: 100%;
    height: 23px;
    margin-top: -48px;
    margin-left: 177px;
    margin-right: 50px;
    padding: 35px 35px 13px 56px;
    border-right: 15px;
    color: gray;
}
.lista-side-nav {
    display: inline;
    padding: 17px 35px 19px 34px;
    cursor: pointer;
}
.lista-side-nav:hover {
    background-color: rgb(240, 232, 232);
    color: rgb(0, 0, 0);
    transition: all 0.4s ease-in-out;
    visibility: visible;
    
}
#banner {
    position: absolute;
    right: 93px;
    top: 263px;
}


/*Corpo do website*/

.Corpo {
    width: 30px;
    height: 30px;
    padding: 0;
    height: 100%;
    max-width: 100%;
    background-color: rgb(234, 234, 234);
}

.imagem1 {
    top: 30px;
    padding: 0px 0px 0px 0px;
}
.imagem2 {
    top: 30px;
}
.imagem3 {
    top: 30px;
}

/*Ajustes dos slides/carrossel*/
* {box-sizing: border-box;}
.slideshow-container {
    padding-top: 126px;
    margin: 0px 0px 0px 0px;
    max-width: 1265px;
    height: 400px;
    position: relative;
    margin: auto;
}

/*Hide images by default*/
.mySlides {
    position: relative;
}

/*Next and previous buttons*/
.prev{
    position:absolute;
    display:block;
    top:70%;
    z-index:2;
    color:white;
    text-transform:uppercase;
    padding:9px 12px;
    background-color: transparent;
    border:2px solid white;
    border-radius:4px;
    box-shadow:0 0.25em 0.5em 0 rgba(0,0,0,0.1);
    text-shadow:0 0.25em 0.5em rgba(0,0,0,0.1);
    opacity:1;cursor:pointer;
    transition:opacity 150ms ease, border 300ms ease-in-out;
    transform:translateY(-50%);line-height:1;
    font-size: 50px;
}

.next {
    position:absolute;
    display:block;
    top:70%;
    z-index:2;
    color:white;
    text-transform:uppercase;
    padding:9px 12px;
    background-color: transparent;
    border:2px solid white;
    border-radius:4px;
    box-shadow:0 0.25em 0.5em 0 rgba(0,0,0,0.1);
    text-shadow:0 0.25em 0.5em rgba(0,0,0,0.1);
    opacity:1;cursor:pointer;
    transition:opacity 150ms ease, border 300ms ease-in-out;
    transform:translateY(-50%);line-height:1;
    font-size: 50px;
    right: 15px;
    border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Caption text*/
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  } 

  /*Fading animation*/
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }
  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  /***********Fim do carrossel 1 ************/

  /*Presentes*/

  #presentes {
      width: 1600px;
      height: 30px;
      padding: 15px 15px 15px 15px;
      margin: 65px 15px 15px 15px;;
      top: 15px;
      right: 15px;
  }
  .imagem-presente {
    width: 312px;
    padding: 2px 0px 10px 12px;
  }
  #promocoes {
      padding: 110px 15px 15px 0px;
      width: 1500px;
      height: 500px;
  }
  .li-ul-promocoes {
      display: inline;
      padding: 6px;
  }

  /*******Inicio do carrossel 2*************/
  

  /***********Fim do carrossel 1 ************/



